@import 'assets/styles/global';
@import 'assets/styles/adjustable-table';

html, body {
  height: 100%;
  padding: 15px 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
